<h1>New game :</h1>
<h3>Letters grid :</h3>
<%= @grid_letters %>
<h3>Your attempt :</h3>
<%= @attempt %>
<p>-------------------------------------</p>
<h4>Result :</h4>
<%= @message %>
<h4>Score :</h4>
<%= @score %>
<p>-------------------------------------</p>
